pre-commit
pytest
ruff
mkdocs-material==9.6.18
mkdocs-include-markdown-plugin==7.1.6
mkdocs-glightbox==0.4.0
mkdocstrings-python==1.16.12
mkdocs-jupyter==0.25.1
mkdocs-gen-files==0.5.0
mkdocs-literate-nav==0.6.2
mkdocs-section-index==0.3.10
mkdocs-minify-plugin==0.8.0
fastapi[standard]
Pygments==2.19.2
httpx